@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.bar-8 {
  width: 80%;
}
.bar-7 {
  width: 70%;
}
.bar-5 {
  width: 50%;
}
.bar-3 {
  width: 30%;
}
.bar-4 {
  width: 40%;
}
.bar-6 {
  width: 60%;
}
